* {
  padding: 0;
  margin: 0;
}

header, nav, .logo, main, .column, .caption {
  display: flex;
}

header {
  justify-content: space-between;
  border-bottom: 1px solid black;
  padding: 10px 30px;
}

h1, li {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  display: inline-block;
}

h1 {
  color: MediumAquaMarine;
  padding-left: 10px;
}

nav, .logo {
  align-items: center;
}

ul {
  padding: 0;
  justify-content: center;
}

li {
  list-style-type: none;
  padding: 10px;
  margin: 0 10px;
}

.small li {
  background: WhiteSmoke;
  border-bottom: 1px solid black;
  font-weight: normal;
  width: 200px;
  font-size: 12px;
  color: DimGray;
}

a {
  color: black;
}

main {
  margin: 0 auto;
  padding: 40px 40px 0 0;
  width: 1240px;
  flex-wrap: wrap;
  justify-content: space-between;

}

.column.large
{
  width: 630px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.column.medium {
  width: 300px;
  flex-direction: column;
}

.column.small {
  width: 240px;
  flex-direction: column;
  align-items: center;
}

h2 {
  padding: 10px 0;
  font-size: 24px;
}

.caption h2 {
  font-size: 30px;
}

.main-story h2 {
  font-size: 40px;
  padding: 20px;
}

.small h2 {
  text-align: center;
  margin: 10px 0;
  font-size: 16px;
}

p {
  padding: 20px 0;
  font: 17px Georgia;
}

.main-story .caption {
  background-image:url(../images/img-story-main.png);
  text-align: left;
}

.caption {
  padding: 0;
  font: bold 30px Georgia;
  color: white;
  height: 300px;
  text-align: center;
  display: flex;
  align-items: center;
}

.story2, .story3 {
  max-width: 299px;

}

.story2 .caption, .story3 .caption {
  margin: 40px 0;
}

.story2 .caption {
  background-image:url(../images/img-story-2.png);
}

.story3 .caption{
  background-image:url(../images/img-story-3.png);
}

.story1 {
  background-image:url(../images/img-story-1.png);
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: MediumAquaMarine;
  margin: auto;
  padding: 100px 0;
  flex-direction: column;
}

footer ul li, footer p {
  font-size: 12px;
  font-family: Verdana;
}

.footer-title {
  font-family: Georgia;
  font-size: 16px;
  color: white;
  text-decoration: none;
}
